<h1>
    Login
</h1>
<fomr action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email"
        required>
    </div>
    <div>
        <label for="pass">Pass</label>
        <input type="pass" id="pass" name="pass"
        required>
    </div>
    <button type="submit">Login</button>
</fomr>
<a href="/register">Regis</a> 


